body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

header {
    position: sticky;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    margin-bottom: 0;
}

nav {
    display: inline-block;
    margin-right: 0;
    float: right;
}

nav > li {
    display: inline-block;
    margin-right: 0;
    float: right; 
}

li {
    display: inline-block;
    list-style-type: none;
    text-decoration: underline;
    margin-right: 10px;
}

a {
    color: seashell;
}

/*Header*/

.logo {
    display: inline-block;
    text-align: left;
    float: left;
}

.tealogo {
    height: 50px;
}

/*Mission*/

.mission {
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.missiontxt {
    color: seashell;
    background-color: black;
    /*align-items: center;*/
}

#imgmission {
    width: 100%;
}

.missiontxtctr {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    width: 100%;
    transform: translate(-50%, -50%);
}
 
/*Featured Tea Styles*/
.teatype {
    padding: 50px 50px;
    width: 1000px;
    
}