body {
    text-align: center;
    background-color: aqua;
    color: black;
}

header.container {
    border: black;
    border-style: double;
    border-width: 20px;
    padding: 10px 5px;
    text-transform: uppercase;
}

#tabletags {
    color: black;
}