a {
    color: #2176ff;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: greenyellow
}